<!--                  Edit teachers modal-->
<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Edit teachers <button type="button" class="close" data-dismiss="modal" ng-click="closeModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button></h3>
    </div>
    <div class="modal-body" ng-repeat="teacher in teachers">
        <div class="media" ng-if="editIndex != teacher.id">
          <a class="media-left" href="#">
            <img class="media-object" style="max-width: 150px" ng-src="{{teacher.photo}}" alt="teacher's photo">
          </a>
          <div class="media-body">
                <h4 class="media-heading">{{teacher.lastName+' '+teacher.firstName}}, <small>{{teacher.position}}</small></h4>
                {{teacher.description}} <br>
                <button type="button" class="btn btn-danger btn-xs" ng-click="deleteTeacher(teacher.id)">Delete</button>
                <button type="button" class="btn btn-default btn-xs" ng-click="openTeacherEditForm(teacher.id)">Edit</button>
          </div>
             
        </div>
<!--        Teacher edit form-->
        <div ng-if="editIndex == teacher.id" style="background-color: rgba(127, 127, 128, 0.3); padding: 15px;">
        <form name="teacherEditForm" novalidate>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Last name:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="editedTeacher.lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">First name:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="editedTeacher.firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Position:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="editedTeacher.position">
          </div>
        </div>
      <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Photo:</label>
          <div class="col-xs-10">
            <input type="file" id="photo" name="photo" required ng-model="editedTeacher.photo">
          </div>
        </div>
            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Short info: </label>
                  <div class="col-xs-10">
                    <textarea class="form-control" id="text" rows="4" ng-model="editedTeacher.description"></textarea>
                  </div>
              </div>
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="saveTeacherChanges(teacher.id)">Save changes</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="cancelTeacherChanges()">Cancel</button>
                </div>
            </div>
        </form>
            
        </div>
<!--        End of teacher form-->
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 25px;">
        <div class="col-xs-4">
            <button type="button" class="btn btn-success btn-xs" ng-click="openAddTeacherForm()">Add teacher</button>
        </div>
    </div>
    <div class="row">
        <!--        Teacher add form-->
        <div ng-if="showAddTeacherForm" style="background-color: rgba(127, 127, 128, 0.3); padding: 15px;">
        <form name="teacherAddForm" novalidate>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Last name:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="teacherForAdd.lastName">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">First name:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="teacherForAdd.firstName">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Position:</label>
          <div class="col-xs-10">
            <input class="form-control" type="text" id="title" name="title" required ng-model="teacherForAdd.position">
          </div>
        </div>
      <div class="form-group row">
          <label for="title" class="col-xs-2 col-form-label">Photo:</label>
          <div class="col-xs-10">
            <input type="file" id="photo" name="photo" required ng-model="teacherForAdd.photo">
          </div>
        </div>
            <div class="form-group row">
                <label for="text" class="col-xs-2 col-form-label">Short info: </label>
                  <div class="col-xs-10">
                    <textarea class="form-control" id="text" rows="4" ng-model="teacherForAdd.description"></textarea>
                  </div>
              </div>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-6">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="addTeacher()">Add</button>
                    <button type="button" class="btn btn-info btn-xs" ng-click="cancelTeacherAdd()">Cancel</button>
                </div>
            </div>
        </form>    
        </div>
<!--        End of teacher add form-->
    
    </div>
    <div class="panel-footer">
        <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <button type="button" class="btn btn-primary" ng-click="saveChanges()">Save changes</button>
            <button type="button" class="btn btn-info" ng-click="closeModal()">Cancel</button>
        </div>
    </div>
    </div>
    

</div>
                  
<!--                  End of Edit teachers modal-->