
<div style="background-color:#88d6fa;">
    <div class="container" style="padding-top: 100px; padding-bottom: 100px">
<uib-accordion close-others="true">               
        <div uib-accordion-group ng-repeat="test in tests" class="panel-default" heading="{{test.name}}" is-open="false" is-disabled="false">
              <div class="panel-body">
                  <form class="form-inline" id="passTestInitial" name="passTestInitial">
                      <div class="form-group">
                        <label class="control-label" for="email">Запам'ятати мій результат:</label>
                        <input type="checkbox" class="form-control" id="remember" ng-model="testDetails.remember" ng-click="printRemember()">
                      </div>
                      <div class="form-group" ng-if="testDetails.remember" style="padding-left: 25px;">
                        <label class="control-label" for="email">Прізвище та ім'я</label>
                        <input type="text" class="form-control" id="username" ng-model="testDetails.username" required>
                      </div>
                      <div class="form-group" style="padding-left: 20px">
                        <button class="btn btn-success btn-sm" ng-click="generateTest(test.alias, test.name)">Розпочати тест</button>
                      </div>
                  </form>
              </div>
            </div>
</uib-accordion>
    </div>
</div>