@font-face {
    font-family: acme;
    src: url('../Fonts/A.C.M.E.ttf');
}

#footer
{
    
    bottom: 0px;
    width: 100%;
    background-color: #645f5f;
    height: 300px;
    color: beige;
    
}

#footer a {
    color: beige;
    font-size: 100%;
}

.footer-row .social {
    padding-left: 10%;
    color: beige;
    font-size: 400%;
}

.footer-row > .left-col {
    border-right: solid 2px beige;
    height: 210px;
    padding-left: 5%;
    padding-right: 5%;
}


#down_button {
    left: 50%;
    width: 35px;
    position: absolute;
    bottom: 10px;
}

.footer-row {
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 10%;
}

@media (max-width: 768px) {
    #down_button {
        display: none;
    }
    .no_left_pad {
        padding-left: 15px;
    }
}

.upper_row {
    background-color: #b3e7ff;
    position: relative;
    width: 100%;
    

}

.news-row {
   height: 350px;
    width: 100%;
    border-bottom: solid 2px #bcc8e9;
    padding-bottom: 10px;
    padding-top: 30px;
}



.news-odd {
  background-color: #CCCCCC  
}

.no_left_pad {
    padding-left: 0px;
}

.no_pad {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-default {
  background-color: #2f4685;
  box-shadow: 10px 10px 5px #888888;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-family: acme;
}

.navbar-default .navbar-text {
  color: #777;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2f4685;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2f4685;
  background-color: #ffffff;
}

@media (min-width: 768px) {
    
    .news_text {
        max-height: 200px;
        overflow: hidden;
    }
    
    .news-odd, .news-even {
    height: 285px;
    }
    
    .news-block {
        padding-left: 40px;
        
    }
    
    .upper_row {
    padding-top: 5%;
    background-color: #b3e7ff;
    background-image: url('../assets/ship_ensemble_res.png');
    height: 820px;
    margin-bottom: 40px;
    }
    
}

#news_section {
    background-color: #f2eeee;
}

.btn-news-left, .btn-news-right {
    background-color: #8a9bc9;
    min-height: 1048px;
    opacity: 0.3;
    font-size: 60px;
    vertical-align: middle;
/*    margin-top: 30px;*/
    padding-top: 40%;
}


.btn-news-left:hover,
.btn-news-right:hover {
    opacity: 0.7;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
   margin-bottom: 10px;
   font-size: 110%;
  }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 25px;
  font-size: 18px;
}

.btn-primary {
  color: #fff;
  background-color: #2f4685;
  border-color: #2f4685;
}

.add_news_button {
    margin-top: 12px;
}

.back-to-top {
    color: #8a9bc9;
    opacity: 0.5;
    position: fixed;
/*    display: none;*/
    top: 0px;
    right: 0px;
}
 
  
 
.back-to-top i {
  font-size: 60px;
}
